.PasswordStrength {
	background-color: #4285f4;
	padding: 25px;
	color: #ffffff;
	font-weight: bold;
}

.PasswordStrength p {
	display: flex;
}

.PasswordStrength input {
	padding: 5px;
	flex-grow: 1;
	outline: none;
}
